body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#0f172a;
    font-family:Arial,sans-serif;
}

.login-box{
    background:#1e293b;
    padding:30px;
    border-radius:10px;
    width:320px;
    text-align:center;
}

h2{
    color:#fff;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:5px;
}

button{
    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

a{
    color:#38bdf8;
    text-decoration:none;
}
